.pageContent
  = render partial: "layouts/alerts"

  // Note that things added here also need to be added to the assignments/_show_student view
  .assignment-details-container
    %section
      = render partial: "grades/grade_content", locals: { grade: @grade }
      %hr.dotted

    %section
      %h2 Class Analytics
      = render partial: "grades/analytics", locals: { presenter: presenter, current_student: @grade.student, analytics_class: "" }
      %hr.dotted

    - if presenter.has_viewable_submission?(@grade.student, current_user)
      %section
        %h2 The Submission
        = render partial: "submissions/submission_content",
            locals: { presenter: Submissions::ShowPresenter.new(id: presenter.submission_for_assignment(@grade.student).id,
              assignment_id: @grade.assignment_id, course: current_course, group_id: @grade.group_id) }
        = history_timeline presenter.submission_grade_history(@grade.student)
        %hr.dotted

    %section
      = render partial: "assignments/description", locals: { presenter: presenter }

    - if presenter.grades_available_for?(@grade.student) && presenter.show_rubric_preview?(@grade.student) && !presenter.check_student_logged?
      %hr.dotted
      %section
        %h2 Grading Rubric
        = render partial: "rubrics/components/rubric_table", locals: { rubric: presenter.rubric, presenter: presenter, student: @grade.student, include_grade_info: false }
