- content_for :context_menu do
  .context-menu
    %ul
      - if current_course.assignment_types.present?
        = active_course_link_to decorative_glyph(:plus) + "New #{term_for :assignment}", new_assignment_path, class: "button button-edit"
      %li.dropdown
        %button.button-edit.button-options{role: "button", type: "button"}= decorative_glyph(:cog) + "Options" + decorative_glyph("caret-down")
        %ul.options-menu.dropdown-content
          - if current_course.allows_canvas?
            = active_course_link_to decorative_glyph(:download) + "Import #{term_for :assignments}", assignments_importers_path
          - if current_course.assignments.present? && current_course.institution.try(:has_google_access)
            = active_course_link_to decorative_glyph(:calendar) + "Add All to Google Calendar", add_assignments_google_calendars_assignments_path, :target => "_parent", method: :post
.pageContent
  = render partial: "layouts/alerts"

  .assignment-index-container.assignments{role: "tablist"}
    - @assignment_types.each do |assignment_type|
      .assignment_type{id: "assignment-type-#{assignment_type.id}" }
        .assignment-type-bar.instructor.collapse{role: "tab"}
          %h2.assignment-type-name= glyph('arrows-v') + glyph('chevron-circle-right') + "#{assignment_type.try(:name)}"
          .points-summary
            %span.assignment-type-points #{points assignment_type.total_points} points
        .assignment-type-container{role: "tabpanel"}
          %ul.assignment-action-buttons
            = active_course_link_to "[ Edit ]", edit_assignment_type_path(assignment_type)
            - if !(assignment_type.has_assignments_with_submissions? || assignment_type.has_assignments_with_grades?)
              = active_course_link_to "[ Delete ]", assignment_type_path(assignment_type), data: { confirm: "Are you sure you want to delete #{term_for :assignment_type} #{assignment_type.name}?", method: :delete }
            - else
              = "[ Delete ]"
              %span.has-tooltip
                %i.fa.fa-info-circle
                .display-on-hover.hover-style
                  This #{(term_for :assignment_type).downcase} currently has student submissions and/or grades and cannot be deleted
          %table.instructor-assignments.second-row-header{"aria-describedby" => "assignment-type-#{assignment_type.id}"}
            %thead
              %tr
                %td.draggable
                %th{scope: "col", :width => "20%"} Name
                %th.sr-only Icon
                %th Due
                %th{scope: "col", :width => "10%"}  Max Points
                %th Rubric?
                %th Submissions
                %th Grades
                %th.options Options
            %tbody.sort-assignments
              - assignments = assignment_type.assignments.ordered.includes(:rubric, :submissions, :unlock_conditions, :unlock_keys)
              - assignments.each do |assignment|
                %tr{id: "assignment-#{assignment.id}"}
                  %td.draggable
                    %i.fa.fa-arrows-v
                  %td= link_to assignment.name, assignment
                  %td= render partial: "index_icons", locals: { assignment: assignment }
                  %td
                    - if assignment.due_at.present?
                      = l assignment.due_at.in_time_zone(current_user.time_zone)
                    - else
                      Ongoing
                  - if assignment.pass_fail?
                    %td.foobers= "#{term_for :pass}/#{term_for :fail}"
                  - else
                    %td.doobers= points assignment.full_points
                  %td= "Yes" if assignment.grade_with_rubric?
                  %td= assignment.submissions.submitted.count if assignment.accepts_submissions? && assignment.submissions.present?
                  %td= assignment.grades.for_active_students.student_visible.count if assignment.grades.for_active_students.instructor_modified.any?
                  %td
                    - if current_user_is_admin? || current_course.active?
                      .button-container.dropdown
                        %button.button-edit.button-options{role: "button", type: "button", "aria-label": "Additional Options"}= decorative_glyph(:cog) + decorative_glyph("caret-down")
                        %ul.options-menu.dropdown-content
                          - if !assignment.grade_with_rubric?
                            = active_course_link_to decorative_glyph(:check) + "Quick Grade", mass_edit_assignment_grades_path(assignment)
                          = active_course_link_to decorative_glyph(:edit) + "Edit", edit_assignment_path(assignment)
                          = active_course_link_to decorative_glyph(:copy) + "Copy", copy_assignments_path(id: assignment), :method => :copy
                          = active_course_link_to decorative_glyph(:trash) + "Delete", assignment_path(assignment), data: { confirm: "Are you sure you want to delete #{assignment.name}?", method: :delete }
          - if current_course.active?
            .box{ style: "width: 95%; margin: 1em auto;"}
              .center
                - if current_user_is_admin? || current_course.active?
                  = link_to decorative_glyph(:plus) + "Add a New #{term_for :assignment}", new_assignment_path(assignment_type_id: assignment_type.id)

  - if current_course.active? || current_user_is_admin?
    .box
      .center
        = link_to decorative_glyph(:plus) + "Add a New #{term_for :assignment} Type", new_assignment_type_path
