.pageContent
  = render partial: "layouts/alerts"

  // Note that things added here also need to be added to the grade/show view for instructors
  #tabs.ui-tabs.ui-widget
    %ul.ui-tabs-nav{role: "tablist"}
      - if presenter.has_viewable_submission?(current_student, current_user) || presenter.grades_available_for?(current_student)
        %li
          %a{"href" => "#tab"} My Submission
      - if presenter.has_viewable_analytics?(current_student) && presenter.grades_available_for?(current_student)
        %li
          %a.class-analytics-tab{"href" => "#tab2"} Class Analytics
      %li
        %a{"href" => "#tab3"} Description
      - if presenter.show_rubric_preview?(current_student) && !presenter.student_logged?(current_student)
        %li
          %a{"href" => "#tab4"} Rubric
      - if presenter.has_viewable_learning_objectives? current_student
        %li
          %a{"href" => "#tab5"}= term_for :learning_objectives

    #tabt1
      %h1.pageTitle= presenter.assignment.name

      - if presenter.has_viewable_submission?(current_student, current_user) || presenter.grades_available_for?(current_student)
        .ui-tabs-panel#tab{class: ("active" if presenter.has_viewable_submission?(current_student, current_user) || presenter.grades_available_for?(current_student)), role: "tabpanel", "aria-hidden" => false }
          - if presenter.grades_available_for?(current_student)
            %section.assignment-details-container
              %h2 My Grade
              = render partial: "grades/grade_content", locals: { grade: presenter.grade_for_student(current_student) }
              %hr.dotted

          - if presenter.has_viewable_submission?(current_student, current_user)
            %section.assignment-details-container
              %h2 My Submission
              = render partial: "submissions/submission_content",
                  locals: { presenter: Submissions::ShowPresenter.new(id: presenter.submission_for_assignment(current_student).id,
                    assignment_id: presenter.assignment.id, course: current_course) }
              = history_timeline presenter.submission_grade_history(current_student)

        - if presenter.has_viewable_analytics?(current_student) && presenter.grades_available_for?(current_student)
          .ui-tabs-panel#tab2{role: "tabpanel", "aria-hidden" => false }
            %section.assignment-details-container
              %h2 Class Analytics
              = render partial: "grades/analytics", locals: { presenter: presenter, analytics_class: "analytics-tab-panel" }

      .ui-tabs-panel#tab3{class: ("active" if !presenter.has_viewable_submission?(current_student, current_user) && !presenter.grades_available_for?(current_student)), role: "tabpanel", "aria-hidden" => false }
        %section.assignment-details-container
          = render partial: "assignments/description", locals: { presenter: presenter }

      - if presenter.show_rubric_preview?(current_student) && !presenter.student_logged?(current_student)
        .ui-tabs-panel#tab4{role: "tabpanel", "aria-hidden" => false }
          %section.assignment-details-container
            %h2 Grading Rubric
            = render partial: "rubrics/components/rubric_table", locals: { rubric: presenter.rubric, presenter: presenter, student: current_student, include_grade_info: false }

      - if presenter.has_viewable_learning_objectives? current_student
        .ui-tabs-panel#tab5{role: "tabpanel", "aria-hidden" => false }
          %section.assignment-details-container
            %h2= term_for :learning_objectives
            %learning-objectives-grade-overview.objective-overview{"data-grade-id"=>"#{presenter.grade_for_student(current_student).id}",
                                                                   "data-assignment-id"=>"#{presenter.assignment.id}"}
