// Button bar at the top of the page
= render partial: "buttons", locals: { presenter: presenter }

.pageContent
  = render partial: "layouts/alerts"

  #tabs.ui-tabs.ui-widget
    %ul.ui-tabs-nav{role: "tablist"}
      %li
        %a{"href" => "#tab"} Grades
      %li
        %a{"href" => "#tab2"}
          Description
          %span &amp; Downloads
      - if presenter.grade_with_rubric? && !presenter.check_student_logged?
        %li
          %a{"href" => "#tab3"}
            %span Grading
            Rubric
      - if presenter.has_persisted_grades?
        %li
          %a.class-analytics-tab{"href" => "#tab4"}
            %span Class
            Analytics
      - if presenter.course_uses_learning_objectives?
        %li
          %a{"href" => "#tab5"}= term_for :learning_objectives

    #tabt1.ui-tabs-panel
      %h1.pageTitle= presenter.assignment.name

      .ui-tabs-panel#tab.active{ role: "tabpanel", "aria-hidden" => false }
        - if presenter.group_assignment?
          = render partial: "assignments/group/group_show", locals: { assignment_id: presenter.assignment.id }
        - else
          = render partial: "assignments/individual/individual_show", locals: { presenter: presenter }
      .ui-tabs-panel.assignment-details-container#tab2{role: "tabpanel", "aria-hidden" => false }
        = render partial: "assignments/description", locals: { presenter: presenter }
      - if presenter.grade_with_rubric? && !presenter.check_student_logged?
        .ui-tabs-panel#tab3{ role: "tabpanel", "aria-hidden" => false }
          .tab-container
            = render partial: "rubrics/components/rubric_table", locals: { rubric: presenter.rubric, presenter: presenter, student: nil, include_grade_info: false }
      - if presenter.has_persisted_grades?
        .ui-tabs-panel#tab4{ role: "tabpanel", "aria-hidden" => false }
          - if presenter.group_assignment?
            = render partial: "grades/analytics", locals: { presenter: presenter, analytics_class: "analytics-tab-panel" }
          - else
            .tab-container
              = render partial: "grades/analytics", locals: { presenter: presenter, analytics_class: "analytics-tab-panel" }
      - if presenter.course_uses_learning_objectives?
        .ui-tabs-panel#tab5{ role: "tabpanel", "aria-hidden" => false }
          %learning-objective-instructor-overview{"data-course-id"=>"#{current_course.id}", "data-assignment-id"=>"#{presenter.assignment.id}"}
