.pageContent

  = render "layouts/alerts"

  .student-dashboard
    .flex-col.col-30
      - if current_course.dashboard_message.present?
        .panel.dashboard-module= render partial: "info/dashboard/modules/dashboard_message", locals: { presenter: presenter }
      .panel.todo.dashboard-module
        %dashboard-to-do-list

      - if current_course.uses_learning_objectives? && current_course.learning_objectives.present?
        .panel.dashboard-module= render partial: "info/dashboard/modules/dashboard_learning_objectives"

      - if current_course.has_multipliers?
        .panel.dashboard-module= render partial: "info/dashboard/modules/dashboard_assignment_weights"

    .flex-col.col-70
      - if @events.present?
        .panel.dashboard-module= render partial: "info/dashboard/modules/dashboard_course_events", locals: { presenter: Info::DashboardCourseEventsPresenter.new(course: current_course, student: current_student, assignments: presenter.assignments) }

      .flex-column
        - if current_course.grade_scheme_elements.present? && GradeSchemeElement.has_valid_elements_for(current_course)
          .flex-row.panel.dashboard-module.grading-scheme-module= render partial: "info/dashboard/modules/dashboard_grading_scheme", locals: { presenter: Info::DashboardGradingSchemePresenter.new(course: current_course, student: current_student) }

        .stacked-column

          - if AnalyticsProctor.new.viewable? current_student, current_course
            .panel.dashboard-module.stacked-module
              %course-distribution-analytics

          .panel.dashboard-module.stacked-module
            %weekly-stats-analytics(student-id="#{current_student.id}")

.pageContent
  .dashboard-module
    %h2 Assignment Overview
    = render partial: "students/student_grade_index", locals: { presenter: presenter }
