.pageContent
  = render partial: "layouts/alerts", locals: { model: @user, term: "profile" }

  = simple_form_for(@user, method: :put, :url => update_profile_users_path) do |f|
    %section
      %h2.form-title Account Settings
      .form-item
        %label.user-avatar-label{for: "user_avatar"} Your Avatar
        = f.file_field :avatar_file_name, {class: "media-image-upload"}
        .preview-wrapper{ class: @user.avatar_file_name.present? ? "" : "hidden"}
          .icon-preview.avatar-preview
            .img-cropper.avatar-crop
              %img.img-rounded{:src => @user.avatar_file_name}
            %span.xaxis-label 100px
            %span.yaxis-label 100px
          .icon-preview.tiny-preview
            .img-cropper.xsmall-crop
              %img.img-rounded{:src => @user.avatar_file_name}
            %span.xaxis-label 20px
            %span.yaxis-label 20px
          - if @user.avatar_file_name.present? && @user.errors[:avatar_file_name].empty?
            = f.check_box :remove_avatar_file_name
            Remove Image

      - if ! @user.kerberos_uid.present? && ! @user.lti_uid.present? 
        .update-password-wrapper
          %button.button-link.update-button#update-password Change Password
          .update-password-form{"aria-hidden": "true"}
            %button#cancel-password-change.button-link.cancel-button Cancel
            .form-item
              = f.label :password, "New password"
              = f.password_field :password, as: :password
            .form-item.no-margin
              = f.label :password_confirmation, "Confirm new password"
              = f.password_field :password_confirmation, as: :password

      .form-item
        = f.label :time_zone
        = f.time_zone_select :time_zone

      %hr.dotted
      %h2.form-title My Profile in #{ current_course.name }
      = f.simple_fields_for :course_memberships, @course_membership do |p|
        - if current_course.has_character_profiles?
          .form-item
            = p.input :character_profile
            .form-hint What's the background of your character in this class? What skills do you have and what are you motivated by?
        - if @user.is_student?(current_course)
          - if current_course.teams_visible? && (current_course.has_in_team_leaderboards? || current_course.has_character_names?)
            .form-item
              = p.input :pseudonym
              .form-hint What would you like your name to be on the leaderboards?

        - if current_course.has_team_roles?
          .form-item
            = p.input :team_role, :input_html => { :maxlength => 255 }, :label => "#{term_for :team} Role"
            .form-hint What will you contribute to your #{term_for :team}?

        %h3.form-subtitle Email Settings
        .form-hint You will always see your notifications in the announcement center above. If there's a type of email you'd rather not get from GradeCraft, just uncheck the box below.
        .form-item
          = p.input :email_announcements
          - if current_course.has_badges?
            = p.input :email_badge_awards
          = p.input :email_grade_notifications
          - if current_course.has_team_challenges?
            = p.input :email_challenge_grade_notifications
          - if current_course.uses_learning_objectives?
            = p.input :email_learning_objective_achieved

      - if impersonating?
        You cannot update this information in preview mode
      - else
        .main-buttons
          = submit_tag "Update Settings", class: "button action"
          = link_to glyph("times-circle") + "Cancel", root_path, class: "button secondary"
