= render partial: "assignment_guidelines", locals: { assignment: presenter.assignment, group: presenter.group }

%hr

= simple_form_for([presenter.assignment, presenter.submission]) do |f|
  - if presenter.assignment.has_groups?
    = f.input :group_id, :input_html => { :value => presenter.group.id }, as: :hidden
  - else # presenter.assignment.is_individual?
    = f.input :student_id, :input_html => { :value => presenter.student.id }, as: :hidden

  - if presenter.submission.will_be_resubmitted?
    %section.form-section
      .italic.not_bold= "Graded: #{l presenter.submission.graded_at.in_time_zone(current_user.time_zone)}"
      %span.label.alert Resubmission!

  %section.form-section
    - if presenter.assignment.accepts_attachments
      %h2.form-title Attachments
      = f.simple_fields_for :submission_files, presenter.submission.submission_files.new do |sf|
        = sf.file_field :file, :multiple => true
      - if presenter.submission.submission_files.exists?
        %h5.bold Uploaded files
        %ul.uploaded-files
          - presenter.submission.submission_files.each do |sf|
            - if sf.id != nil
              %li
                = link_to sf.filename, sf.url, :target => "_blank"
                = link_to "(Remove)", remove_uploads_path({ :model => "SubmissionFile", assignment_id: presenter.assignment.id, :upload_id => sf.id } )

    - if presenter.assignment.accepts_links
      = f.input :link

    - if presenter.assignment.accepts_text
      %h2.form-title.uppercase Content/Statement
      = f.text_area :text_comment, class: "froala"

  .main-buttons
    - if current_course.active?
      = f.button :submit,
        "#{presenter.submission.persisted? ? (presenter.submission.will_be_resubmitted? ? "Resubmit" : "Update Submission") : "Submit #{term_for :assignment}"}",
        data: { confirm: ("This submission will be late. Continue?" if !presenter.submission.will_be_resubmitted? && presenter.submission_will_be_late?) }
    = link_to glyph("times-circle") + "Cancel", assignment_path(presenter.assignment), class: "button"
